{
  "default_api_base": "http://127.0.0.1:8002/v1",
  "default_model": "qwen3.6-27b",
  "api_key": "$OPENROUTER_API_KEY",
  "models": {
    "smart": {
      "model": "qwen3.6-27b",
      "api_base": "http://127.0.0.1:8002/v1",
      "api_key": "abc"
    },
    "fast": {
      "model": "qwen3.6-35b",
      "api_base": "http://127.0.0.1:8003/v1",
    }
  }
}
